# Node
node_modules/
dist/

# Pulumi
.pulumi/
.pulumi-artifacts/
.pulumi-home*/
.pulumi-state*/
.pulumi-passphrase*
credentials.json
Pulumi.dev.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

.env.*

/docs/*
